
<div class="col-md-6 text-center border d-flex">
		 <img class="mx-auto my-auto" src="/images/zeytindali.jpg">
</div>

<div class="container">

	<h4>Siber Zaytindalı Operasyonu destek sayfamıza hoşgeldiniz.</h4>
	<p> Sayfamız zeytindalı operasonuna twitter üzerinden siber destek vermektedir.
		Sizlerden de bu desteğe katılmanızı ve bize yardımcı olmanızı umuyoruz. </p>
		<p>Bu web sayfası Zeytin Dalı Operasyonuna destek amacıyla kurulmuştur.
			Başka amaçlar için kullanmayınız!!! </p>
	<p> Giriş sayfamıza gidiniz <a href="/login/form">giriş</a>
		veya <a href="/contacts"> bize katılın </a> </p>
</div>
